@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* COLOR *
  /* Primary */
  /* Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /* Background gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Neutral */
  /* Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* ? FONTS */
  --ff-kumbh-sans: "Kumbh Sans", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-kumbh-sans);
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--violet);
  background-repeat: no-repeat;
  background-position: center top;
}

.imagen {
  position: absolute;
  width: 220px;
  transform: translateY(-100px);
}

.container {
  border-radius: 20px;
  width: 290px;
  height: 75%;
  margin-top: 75px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.questions-container {
  width: 270px;
}

h1 {
  color: var(--very-dark-desaturated-blue);
  font-size: 3rem;
  margin-top: 120px;
}

.question-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.question {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.15rem;
  padding: 4px 0;
}

.question:hover {
  color: var(--soft-red);
}

.icon-arrow {
  margin-left: 20px;
}

.answer-content {
  display: none;
  width: 90%;
  margin-left: 0px;
  font-size: 1.1rem;
  color: var(--dark-grayish-blue);
}

.break-line {
  height: 0.1px;
  width: 100%;
  background-color: hsla(237, 12%, 33%, 0.2);
  margin-top: 10px;
}

.imagen-box img {
  display: none;
}

@media (min-width: 1000px) {
  .container {
    margin-top: 0;
    width: 900px;
    height: 450px;
    overflow: hidden;
  }

  .questions-container {
    width: 360px;
    align-self: flex-end;
    margin-right: 75px;
  }

  h1 {
    margin-top: 0;
    margin-right: 365px;
    align-self: flex-end;
  }

  .imagen {
    position: relative;
    margin-top: 50px;
    margin-left: 55px;
    transform: scale(1.2);
  }

  .imagen img {
    content: url(./images/illustration-woman-online-desktop.svg);
    display: inline;
    position: absolute;
    height: 300px;
    transform: translateX(-330px);
  }

  .imagen-box {
    position: absolute;
    margin-top: 50px;
    margin-left: 55px;
  }

  .imagen-box img {
    display: inline;
    position: relative;
    height: 130px;
    transform: translateX(-475px);
    top: 157px;
  }
}
